Linear Regression

In [36]:
import pandas as pd
df = pd.DataFrame({'inp':[1,2,3,4,5],'out':[1,4,9,16,25]})
x = df[['inp']]
y = df['out']

In [37]:
# Modelling
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x,y)

print("coefficient:",model.coef_)
print("intercept:",model.intercept_)

# Prediction
y_pred = model.predict(x)

# Evaluation
from sklearn.metrics import mean_squared_error
print("mean squared error:",mean_squared_error(y,y_pred))

coefficient: [6.]
intercept: -6.9999999999999964
mean squared error: 2.7999999999999985

Non Linear Regression

In [38]:
df

   inp  out
0    1    1
1    2    4
2    3    9
3    4   16
4    5   25

In [39]:
df["inp2"]= df["inp"]**2

In [40]:
df

   inp  out  inp2
0    1    1     1
1    2    4     4
2    3    9     9
3    4   16    16
4    5   25    25

In [41]:
x = df[['inp','inp2']]

In [42]:
x

   inp  inp2
0    1     1
1    2     4
2    3     9
3    4    16
4    5    25

In [43]:
# modeling
model2 = LinearRegression()
model2.fit(x,y)

print("coefficient:",model2.coef_)
print("intercept:",model2.intercept_)

# Prediction
y_pred = model2.predict(x)

# Evaluation
from sklearn.metrics import mean_squared_error
print("mean squared error:",mean_squared_error(y,y_pred))

coefficient: [-2.27004598e-15  1.00000000e+00]
intercept: 1.7763568394002505e-15
mean squared error: 7.888609052210118e-31

Multiple Linear Regression

In [47]:
df = pd.DataFrame({"x1":[1,2,3,4,5],"x2":[6,7,8,9,10],"y":[11,12,13,14,15]})
x = df[["x1","x2"]]
y = df["y"]

In [48]:
# modeling
model3 = LinearRegression()
model3.fit(x,y)

print("coefficient:",model3.coef_)
print("intercept:",model3.intercept_)

# Prediction
y_pred = model3.predict(x)

# Evaluation
from sklearn.metrics import mean_squared_error
print("mean squared error:",mean_squared_error(y,y_pred))

coefficient: [0.5 0.5]
intercept: 7.5
mean squared error: 0.0